.mapboxgl-control-container {
    display: none;
}

.dashboard {
    position: absolute;
    display: inline-block;
    width: 75%;   
    height: 100%;
    top: 50px;
}
  
.dashboard-pannel {
    position: absolute;
    display: inline-block;
    width: 25%;
    bottom: 0px;
    top: 0px;
    right: 0px;
    padding-top: 50px;
    text-align: center;
}