.mapboxgl-control-container {
    display: none;
}

.dashboard {
    position: absolute;
    display: inline-block;
    width: 100%;   
    top: 0;
    bottom: 0px;
}
  
.dashboard-pannel {
    width: 350px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.15);
    margin: 24px;
    position: absolute;
    right: 0;
    outline: none;
    cursor: auto;
    top: 50px;
    bottom: 0;
    /* opacity: 0.8; */
    box-sizing: border-box;
}